*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.box{
    height: 73vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
    left: 40%;
    box-shadow: 0 0 15px white;
    background-color: aliceblue;
    border-radius: 5px;
}
.img{
    padding: 3px;
    border-radius: 10px;
}
h3, p{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 1rem;
}
.color{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    gap: 1rem;
    
}

.balls{
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 2rem;
}
